@using Platform.WebSite.Helpers;
@using Platform.AbstractionClass;
@using Newtonsoft.Json;
@using Platform.WebSite.Models;
@using BI.SPA_CostService.Enums;
@using Platform.Infra;

@model Guid?

@{
    var masterInfo = (SiteViewModel)ViewBag.MasterInfo;
    this.ViewBag.Title = masterInfo.CurrentPage.Name;
    var ctlName = "SPA_Violation";

    var mode = this.ViewBag.Mode;
    var isCreateMode = this.ViewBag.IsCreateMode;
    var isNewApply = true;
    var postActionName = (isCreateMode) ? "Create" : "Edit";
    var id = (this.Model.HasValue) ? this.Model.ToString() : string.Empty;
    var parentID = this.ViewBag.ParentID;
    var levelName = this.ViewBag.CurrentLevelName;

    bool isBULevel = (levelName == ApprovalLevel.BU.ToText());

    Uri readDetailApiUrl = new Uri("api/SPA_ViolationApprovalApi/Detail/" + parentID, UriKind.Relative);
    Uri submitApiUrl = new Uri("api/SPA_ViolationApprovalApi/Submit/", UriKind.Relative);

    Uri listPageUrl = new Uri("SupplierApproval/Index/" + masterInfo.CurrentPage.ID, UriKind.Relative);
    Uri downloadFileUrl = new Uri("SPA_Violation/Attachment/", UriKind.Relative);

    // 欄位顯示和編輯設定
    var validConfig = JsonConvert.SerializeObject(BI.SPA_CostService.Validators.ApprovalValidator.GetValidConfigs());
}

<style>
    .SubArea {
        background-color: #00A9E0;
        font-size: 16pt;
        color: white;
        font-weight: bolder;
    }
</style>

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container-fluid px-2">
        <!--begin::Row-->
        <div class="row">
            <div class="col-lg-12">
                <!--begin::Example-->
                <!--begin::Card-->
                <div class="card card-custom">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">@this.ViewBag.Title - @ViewBag.Name</h3>
                            @*<div class="d-block text-muted pt-2 font-size-sm">
                                    <i class="icon-nm text-dark-50"></i>
                                    (*)為必填選項
                                </div>*@
                        </div>
                    </div>
                    @using (Html.BeginForm(postActionName, ctlName, FormMethod.Post, new { @class = "form", id = "formMain" }))
                    {
                        <div class="card-body">
                            <!-- 編輯區域 -->
                            <div class="row">
                                <div class="col-1">
                                    <label for="period" class="col-form-label">評鑑期間</label>
                                </div>
                                <div class="col-2" style="display: none;">
                                    <input name="Period" type="text" class="form-control form-control-sm" placeholder="請輸入評鑑期間">
                                </div>

                                <div class="col-4">
                                    <label class="col-form-label PeriodDateText"></label>
                                </div>
                            </div>

                            <div class="row" id="divDetailTable">
                                <!-- 表格區 -->
                                <div class="col-12">
                                    <table>
                                        @* 表頭 *@
                                        <thead class="thead-dark">
                                        </thead>
                                        @* 表身 *@
                                    </table>
                                </div>
                                <!-- 表格區 -->
                            </div>


                            <div class="row">
                                <div class="col-12">
                                    <table></table>
                                </div>
                            </div>
                            <!-- 編輯區域 -->
                            <!-- 審核資訊 Approval Information -->
                            <br />
                            <br />
                            <div id="divApproveTableTitle" class="alert alert-custom SubArea" role="alert">
                                <div class="alert-text text-center">審核資訊 Approval Information</div>
                            </div>

                            <div class="row" id="divApproveTemplate" style="display: none;">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td scope="row">
                                                <span class="Level_Text"></span>
                                            </td>
                                            <td>
                                                <span class="Approver"></span>
                                            </td>
                                            <td>
                                                <span class="Result"></span>
                                            </td>
                                            <td>
                                                <span class="ModifyDate_Text"></span>
                                            </td>
                                            <td>
                                                <span class="Comment"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row" id="divApproveTable">
                                <div class="col-12">
                                    <table class="table">
                                        @* 表頭 *@
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col" class="col-sm-2">審核關卡</th>
                                                <th scope="col" class="col-sm-2">審核者</th>
                                                <th scope="col" class="col-sm-2">審核結果</th>
                                                <th scope="col" class="col-sm-2">審核時間</th>
                                                <th scope="col" class="col-sm-2">審核意見</th>
                                            </tr>
                                        </thead>
                                        @* 表身 *@
                                        <tbody>  </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <div class="radio-list">
                                        <label class="col-form-label">審核結果 </label>

                                        @if (!isBULevel)
                                        {
                                            <label class="radio">
                                                <input type="radio" name="Result" value="@ApprovalResult.Agree.ToText()">
                                                <span></span>@ApprovalResult.Agree.ToText()
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="Result" value="@ApprovalResult.RejectToStart.ToText()">
                                                <span></span>@ApprovalResult.RejectToStart.ToText()
                                            </label>
                                        }
                                        else
                                        {
                                            <label class="radio">
                                                <input type="radio" name="Result" value="@ApprovalResult.Checked.ToText()">
                                                <span></span>@ApprovalResult.Checked.ToText()
                                            </label>
                                        }
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="form-group row mb-2">
                                        <label for="ApplyReason" class="col-12 col-form-label">
                                            審核意見
                                        </label>
                                        <textarea class="form-control form-control-sm" placeholder="請輸入審核意見" name="Comment" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- 審核資訊 Approval Information -->
                            <!--btn-->
                            <div class="my-5 col-12">
                                <div class="d-flex justify-content-between border-top ">
                                    <div class="mr-2">
                                        <a href="@Url.Action(ViewBag.ViewReturn, new { id = @ViewBag.ViewReturnID })" class="btn btn-secondary">
                                            取消
                                        </a>
                                    </div>
                                    <div>
                                        <button type="button" id="btnSubmit" class="btn btn-primary mr-2">送出</button>
                                    </div>
                                </div>
                            </div>
                            <!--btn-->
                        </div>
                        <!--end::Card-->
                    }
                </div>
            </div>
            <input type="hidden" name="EditType" id="EditType" value="" />
            <input type="hidden" name="MainID" id="hdfMainID" value="@id" />
            <!--end::Code example-->
            <!--end::Example-->
        </div>
    </div>
</div>

@* --將 js 註冊至頁尾-- *@
@Html.Resource(
    @<text>
        <link href="~/Content/assets/plugins/custom/bootstrap-table/bootstrap-table.min.css?v=@DateTimeExtensions.GetJS_V_Text()" rel="stylesheet" />
        <link href="~/Content/assets/plugins/custom/bootstrap-table/extensions/fixed-columns/bootstrap-table-fixed-columns.min.css?v=@DateTimeExtensions.GetJS_V_Text()" rel="stylesheet" />

        <script src="~/Content/assets/plugins/custom/bootstrap-table/bootstrap-table.min.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>
        <script src="~/Content/assets/plugins/custom/bootstrap-table/extensions/fixed-columns/bootstrap-table-fixed-columns.min.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>

        <script src="~/ModuleResources/JavaScripts/Shared/TET_FormHelper.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>
        <script src="~/ModuleResources/JavaScripts/SupplierApproval/SPA_ViolationApproval.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>
        <script>
            var viewMode = '@mode';
            var isCreateMode = @isCreateMode.ToString().ToLower();
            var isNewApply = @isNewApply.ToString().ToLower();
            var id = '@id';
            var parentID = '@parentID';
            var levelName = '@levelName';

            var submitApiUrl = platformEnvironment.hostUrl + '@submitApiUrl';
            var readDetailApiUrl = platformEnvironment.hostUrl + '@readDetailApiUrl';

            var listPageUrl = platformEnvironment.hostUrl + '@listPageUrl';
            var downloadFileUrl = platformEnvironment.hostUrl + '@downloadFileUrl';

            var validConfig = @Html.Raw(validConfig);
        </script>
    </text>
, "customScripts")
