@using Platform.WebSite.Helpers;
@using Platform.AbstractionClass;
@using Newtonsoft.Json;
@using BI.Suppliers;
@using BI.Suppliers.Models;
@using Platform.WebSite.Models;
@using System.Web;
@using Platform.Infra;

@model Guid?

@{
    var masterInfo = (SiteViewModel)ViewBag.MasterInfo;
    this.ViewBag.Title = masterInfo.CurrentPage.Name;
    var ctlName = "SupplierApproverChange";

    var mode = this.ViewBag.Mode;
    var isCreateMode = this.ViewBag.IsCreateMode;
    var isNewApply = true;
    var postActionName = (isCreateMode) ? "Create" : "Edit";
    var id = (this.Model.HasValue) ? this.Model.ToString() : string.Empty;

    Uri readDetailApiUrl = new Uri("api/SupplierApproverChangeApi/Detail/" + id, UriKind.Relative);
    Uri modifyApiUrl = new Uri("api/SupplierApproverChangeApi/Modify/" + id, UriKind.Relative);
    Uri listPageUrl = new Uri("SupplierApproverChange/Index/" + masterInfo.CurrentPage.ID, UriKind.Relative);

    // 下拉選單項目
    var pairList_UserList = this.ViewBag.ParamList_UserList as List<KeyTextModel>;


    // 欄位顯示和編輯設定
    //var validConfig = JsonConvert.SerializeObject(BI.STQA.Validators.SupplierSTQAValidator.GetValidConfigs());
}

<style>
    .SubArea {
        background-color: #00A9E0;
        font-size: 16pt;
        color: white;
        font-weight: bolder;
    }
</style>

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container-fluid px-2">
        <!--begin::Row-->
        <div class="row">
            <div class="col-lg-12">
                <!--begin::Example-->
                <!--begin::Card-->
                <div class="card card-custom">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">@this.ViewBag.Title - @ViewBag.Name</h3>
                        </div>
                    </div>

                    @using (Html.BeginForm(postActionName, ctlName, FormMethod.Post, new { @class = "form", id = "formMain" }))
                    {
                        <div class="card-body">
                            <!-- 編輯區域 -->
                            <div class="row">
                                <div class="col-4">
                                    <label class="col-form-label">類別</label>
                                    <input class="form-control form-control-sm" type="text" name="Type" readonly>
                                </div>

                                <div class="col-4">
                                    <label class="col-form-label">審核說明</label>
                                    <input class="form-control form-control-sm" type="text" name="Description" readonly>
                                </div>

                                <div class="col-4">
                                    <label class="col-form-label">審核關卡</label>
                                    <input class="form-control form-control-sm" type="text" name="Level_Text" readonly>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-4">
                                    <label for="inpApprover" class="col-form-label">審核人</label>
                                    <select id="inpApprover" name="Approver" class="form-control form-control-sm selectpicker" data-live-search="true" title="請選擇">
                                        @foreach (var pair in pairList_UserList)
                                        {
                                            <option value="@pair.Key">@pair.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <!-- 編輯區域 -->
                            <!--btn-->
                            <div class="my-5 col-12">
                                <div class="d-flex justify-content-between border-top ">
                                    <div class="mr-2">
                                        <a href="@Url.Action(ViewBag.ViewReturn, new { id = @ViewBag.ViewReturnID })" class="btn btn-secondary">
                                            取消
                                        </a>
                                    </div>
                                    <div>
                                        <button type="button" id="btnSave" class="btn btn-success mr-2">儲存</button>
                                    </div>
                                </div>
                            </div>
                            <!--btn-->
                        </div>
                        <!--end::Card-->
                    }
                </div>
            </div>
            <input type="hidden" name="EditType" id="EditType" value="" />
            <input type="hidden" name="MainID" id="hdfMainID" value="@id" />
            <!--end::Code example-->
            <!--end::Example-->
        </div>
    </div>
</div>

@* --將 js 註冊至頁尾-- *@
@Html.Resource(
    @<text>
        <script src="~/ModuleResources/JavaScripts/Shared/TET_FormHelper.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>
        <script src="~/ModuleResources/JavaScripts/SupplierApproverChange/edit.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>
        <script>
            var viewMode = '@mode';
            var isCreateMode = @isCreateMode.ToString().ToLower();
            var isNewApply = @isNewApply.ToString().ToLower();
            var id = '@id';

            var modifyApiUrl = platformEnvironment.hostUrl + '@modifyApiUrl';
            var readDetailApiUrl = platformEnvironment.hostUrl + '@readDetailApiUrl';
            var listPageUrl = platformEnvironment.hostUrl + '@listPageUrl';
        </script>
    </text>
, "customScripts")
