@using Platform.AbstractionClass;
@using Platform.WebSite.Helpers;
@using Platform.WebSite.Models;
@using Platform.Infra;

@{
    var masterInfo = (SiteViewModel)ViewBag.MasterInfo;
    this.ViewBag.Title = masterInfo.CurrentPage.Name;
    string controllerName = "Supplier";
    string apiControllerName = "api/SupplierApi";
    string editTemplateUrl = Url.Action("QueryEdit", controllerName, new { ID = masterInfo.CurrentPage.ID, supplierID = "__ID__" });
    string viewTemplateUrl = Url.Action("QuerySSView", controllerName, new { ID = masterInfo.CurrentPage.ID, supplierID = "__ID__" });

    string exportExcelApiUrl = Url.Action("ExportSupplierExcel", apiControllerName);

    var paramList_BelongTo = this.ViewBag.ParamList_BelongTo as List<KeyTextModel>;
    var paramList_SupplierCategory = this.ViewBag.ParamList_SupplierCategory as List<KeyTextModel>;
    var paramList_BusinessCategory = this.ViewBag.ParamList_BusinessCategory as List<KeyTextModel>;
    var paramList_BusinessAttribute = this.ViewBag.ParamList_BusinessAttribute as List<KeyTextModel>;
    var paramList_SupplierStatus = this.ViewBag.ParamList_SupplierStatus as List<KeyTextModel>;
    var paramList_SupplierWithSTQA = this.ViewBag.ParamList_SupplierWithSTQA as List<KeyTextModel>;
    var paramList_Buyer = this.ViewBag.ParamList_Buyer as List<KeyTextModel>;
}

<!--begin::Card-->
<div class="card card-custom">
    <div class="card-header flex-wrap py-5">
        <div class="card-title">
            <div class="card-label">
                @*標題*@
                @ViewBag.Title
                @*標題*@
            </div>
        </div>
        <div class="card-toolbar" id="toolbar">
            @*工具列*@
            <div class="row">
                <button type="button" id="btnImport" class="btn btn-success" style="margin-top: 3em;"> 匯入交易資訊 </button>
            </div>
            @*工具列*@
        </div>
    </div>
    <div class="card-body">
        <div class="row" id="divImportExcel" style="display: none;">
            <h3 class="display-5">匯入 Excel</h3>

            <div class="col-12">
                <div class="form-group row mb-2">
                    <div>
                        <a href="~/ModuleResources/Other/SupplierTrade/供應商交易資料匯入範本.xlsx">下載範本</a>
                        <input type="file" id="fileExcel" name="fileExcel" class="form-control form-control-sm" />
                        <button type="button" id="btnImportExcel" class="btn btn-info mr-2">匯入檔案</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="divSearchArea">
            @*過濾條件*@
            <div class="form-group row">
                <div class="col-2">
                    <label for="inpName" class="col-form-label">供應商代碼或名稱</label>
                    <input id="inpName" name="Name" type="text" class="form-control form-control-sm" placeholder="" />
                </div>

                <div class="col-2">
                    <label for="inpTaxNo" class="col-form-label">統一編號</label>
                    <input id="inpTaxNo" name="TaxNo" type="text" class="form-control form-control-sm" placeholder="" />
                </div>

                <div class="col-2">
                    <label for="inpBelongTo" class="col-form-label">歸屬公司</label>
                    <select id="inpBelongTo" name="BelongTo" class="form-control form-control-sm select2" multiple title="請選擇">
                        @foreach (var pair in paramList_BelongTo)
                        {
                            <option value="@pair.Key">@pair.Text</option>
                        }
                    </select>
                </div>

                <div class="col-2">
                    <label for="inpSupplierCategory" class="col-form-label">廠商類別</label>
                    <select id="inpSupplierCategory" name="SupplierCategory" class="form-control form-control-sm select2" multiple title="請選擇">
                        @foreach (var pair in paramList_SupplierCategory)
                        {
                            <option value="@pair.Key">@pair.Text</option>
                        }
                    </select>
                </div>

                <div class="col-2">
                    <label for="inpBusinessCategory" class="col-form-label">交易主類別</label>
                    <select id="inpBusinessCategory" name="BusinessCategory" class="form-control form-control-sm select2" multiple title="請選擇">
                        @foreach (var pair in paramList_BusinessCategory)
                        {
                            <option value="@pair.Key">@pair.Text</option>
                        }
                    </select>
                </div>

                <div class="col-2">
                    <label for="inpBusinessAttribute" class="col-form-label">交易子類別</label>
                    <select id="inpBusinessAttribute" name="BusinessAttribute" class="form-control form-control-sm select2" multiple title="請選擇">
                        @foreach (var pair in paramList_BusinessAttribute)
                        {
                            <option value="@pair.Key">@pair.Text</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label for="inpMainProduct" class="col-form-label">主要產品/服務項目</label>
                    <input id="inpMainProduct" name="MainProduct" type="text" class="form-control form-control-sm" placeholder="" />
                </div>

                <div class="col-3">
                    <label for="inpSearchKey" class="col-form-label">關鍵字</label>
                    <input id="inpSearchKey" name="SearchKey" type="text" class="form-control form-control-sm" placeholder="" />
                </div>

                <div class="col-2">
                    <label for="inpBuyer" class="col-form-label"> 採購擔當</label>
                    <select id="inpBuyer" name="Buyer" class="form-control form-control-sm select2" multiple title="請選擇">
                        @foreach (var pair in paramList_Buyer)
                        {
                            <option value="@pair.Key">@pair.Text</option>
                        }
                    </select>
                </div>

                <div class="col-2">
                    <label for="inpKeySupplier" class="col-form-label">供應商狀態</label>
                    <select id="inpKeySupplier" name="KeySupplier" class="form-control form-control-sm select2" title="請選擇">
                        <option value="" disabled selected>請選擇</option>
                        @foreach (var pair in paramList_SupplierStatus)
                        {
                            <option value="@pair.Key">@pair.Text</option>
                        }
                    </select>
                </div>

                <div class="col-2">
                    <label for="inpSTQACertified" class="col-form-label">STQA認證</label>
                    <select id="inpSTQACertified" name="STQACertified" class="form-control form-control-sm select2" title="請選擇">
                        <option value="" disabled selected>請選擇</option>
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                    </select>
                </div>

                <div class="col-4">
                    <button type="button" id="btnSearch" class="btn btn-sm btn-success" style="margin-top: 3em;"> 查詢 </button>
                    <a id="aExportExcel" href="~/api/SupplierApi/ExportSupplierExcel?isSS=true" target="_blank" class="btn btn-sm btn-success" style="margin-top: 3em;"> 匯出 Excel </a>
                </div>
            </div>
            @*過濾條件*@
        </div>
        <!--start: Datatable-->
        @*表格*@
        <div id="kt_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-hover table-checkable" id="dataGrid" style="margin-top: 13px !important">
                    </table>
                </div>
            </div>
            @*表格*@
        </div>
        <!--end: Datatable-->
    </div>
</div>
<!--end::Card-->
@* --將 js 註冊至頁尾-- *@
@Html.Resource(
    @<text>
        <script src="~/Content/assets/plugins/custom/datatables/datatables.bundle.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>
        <script src="~/ModuleResources/JavaScripts/Shared/TET_FormHelper.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>
        <script src="~/ModuleResources/JavaScripts/Supplier/querySS.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>

        <style>
            .dataTables_wrapper table.dataTable thead tr th {
                background-color: #00a9e0;
                color: white;
                font-weight: bold;
            }

            .columnHeaderWhite {
                color: white;
                font-weight: bold;
            }
        </style>

        <script>
            var editTemplateUrl = '@editTemplateUrl';
            var viewTemplateUrl = '@viewTemplateUrl';
            var exportExcelApiUrl = '@exportExcelApiUrl';
        </script>
    </text>
, "customScripts")

