@using System.Web;
@using Platform.WebSite.Models
@model UserProfileViewModel

@{
    ViewBag.Title = "變更密碼";
    string ctlName = "Account";
    string postActionName = "EditUserPassword";

    string imageUrl =
    (string.IsNullOrWhiteSpace(this.Model.AvatorUrl))
    ? "~/Content/assets/media/users/default.jpg"
    : this.Model.AvatorUrl;

    string avatorUrl = VirtualPathUtility.ToAbsolute(imageUrl);
}

@* 提示訊息 *@
@if (TempData["TipMsg"] != null)
{
    <script>
        alert('@TempData["TipMsg"]');
    </script>
}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Profile Personal Information-->
            <div class="d-flex flex-row">
                <!--begin::Aside-->
                <div class="flex-row-auto offcanvas-mobile w-250px w-xxl-350px" id="kt_profile_aside">
                    <!--begin::Profile Card-->
                    <div class="card card-custom card-stretch">
                        <!--begin::Body-->
                        <div class="card-body pt-4">
                            <!--begin::User-->
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
                                    <div class="symbol-label" style="background-image:url('@avatorUrl')"></div>
                                </div>
                                <div>
                                    <a href="@Url.Action("UserProfile", "Account")" class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary">@this.Model.FirstName @this.Model.LastName </a>
                                    <div class="text-muted">@this.Model.Title</div>
                                </div>
                            </div>
                            <!--end::User-->
                            <!--begin::Contact-->
                            <div class="py-9">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <span class="font-weight-bold mr-2">Email:</span>
                                    <span class="text-muted text-hover-primary">@this.Model.Email</span>
                                </div>
                            </div>
                            <!--end::Contact-->
                            <!--begin::Nav-->
                            <div class="navi navi-bold navi-hover navi-active navi-link-rounded">
                                <div class="navi-item mb-2">
                                    <a href="@Url.Action("EditUserProfile", "Account")" class="navi-link py-4">
                                        <span class="navi-icon mr-2">
                                            <span class="svg-icon">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg-->
                                                <i class="flaticon-users"></i>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </span>
                                        <span class="navi-text font-size-lg">個人資訊管理</span>
                                    </a>
                                </div>
                                <div class="navi-item mb-2">
                                    <a href="@Url.Action("EditUserPhoto", "Account")" class="navi-link py-4">
                                        <span class="navi-icon mr-2">
                                            <span class="svg-icon">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Code/Compiling.svg-->
                                                <i class="flaticon-photo-camera"></i>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </span>
                                        <span class="navi-text font-size-lg">個人照片管理</span>
                                    </a>
                                </div>
                                <div class="navi-item mb-2">
                                    <a href="@Url.Action("EditUserPassword", "Account")" class="navi-link py-4 active">
                                        <span class="navi-icon mr-2">
                                            <span class="svg-icon">
                                                <i class="flaticon-settings-1"></i>
                                            </span>
                                        </span>
                                        <span class="navi-text font-size-lg">密碼管理</span>
                                        <span class="navi-label">
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <!--end::Nav-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Profile Card-->
                </div>
                <!--end::Aside-->
                <!--begin::Content-->
                <div class="flex-row-fluid ml-lg-8">
                    <!--begin::Card-->
                    <div class="card card-custom card-stretch">
                        <!--begin::Header-->
                        <div class="card-header py-3">
                            <div class="card-title align-items-start flex-column">
                                <h3 class="card-label font-weight-bolder text-dark">變更密碼</h3>
                                <span class="text-muted font-weight-bold font-size-sm mt-1">更新密碼資訊</span>
                            </div>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm(postActionName, ctlName, FormMethod.Post, new { @class = "form" }))
                            {
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-alert">新密碼</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input name="NewPassword" type="password" class="form-control form-control-lg form-control-solid" placeholder="請輸入密碼" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-alert">確認新密碼</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input name="ConfirmPassword" type="password" class="form-control form-control-lg form-control-solid" placeholder="請確認密碼" />
                                        <div class="d-block text-muted pt-2 font-size-sm">
                                            <i class="icon-nm text-dark-50 flaticon2-information"></i>
                                            密碼至少需要8至16個字，其中至少包含<br />
                                            1個大寫英文數字、1個小寫英文數字、<br />
                                            1個數字及1個特殊符號<br />
                                            如：Aa@1234567
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between border-top pt-10">
                                    <div class="mr-2">
                                        <a href="@Url.Action("UserProfile", "Account")" class="btn btn-secondary">
                                            取消
                                        </a>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-success mr-2" data-wizard-type="action-submit">儲存</button>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
                <!--end::Content-->
            </div>
            <!--end::Profile Personal Information-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->
