@using Platform.Infra;
@using System.Web;
@{
    var masterInfo = (Platform.WebSite.Models.SiteViewModel)ViewBag.MasterInfo;
    this.Layout = null;

    string coverImage = @VirtualPathUtility.ToAbsolute("~/Content/assets/media/svg/illustrations/login-visual-1.svg");
    string rootUrl = VirtualPathUtility.ToAbsolute("~/");

}


<!DOCTYPE html>
<html lang="zh-hant">
<!--begin::Head-->
<head>
    <meta charset="utf-8" />
    <meta lang="zh-tw" />
    <title>Login Page | @masterInfo.Name</title>
    <meta name="description" content="Login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--begin::Page Custom Styles(used by this page)-->
    <link href="~/Content/assets/css/pages/login/login-1.css" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="~/Content/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <link href="~/Content/assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Themes-->
    <link href="~/Content/assets/media/logos/favicon.ico" rel="shortcut icon" />
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Login-->
        <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
            <!--begin::Aside-->
            <div class="login-aside d-flex flex-column flex-row-auto" style="background-color: #F2C98A;">
                <!--begin::Aside Top-->
                <div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15">
                    <!--begin::Aside header-->
                    <a href="#" class="text-center mb-10">
                        <img src="@masterInfo.ImageUrl" class="max-h-70px" alt="" />
                    </a>
                    <!--end::Aside header-->
                </div>
                <!--end::Aside Top-->
                <!--begin::Aside Bottom-->
                <div class="aside-img d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center" style="background-image: url(@coverImage)"></div>
                <!--end::Aside Bottom-->
            </div>
            <!--begin::Aside-->
            <!--begin::Content-->
            <div class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
                <!--begin::Content body-->
                <div class="d-flex flex-column-fluid flex-center">
                    <!--begin::Signin-->
                    <div class="login-form login-signin">
                        <!--begin::Form-->
                        <form method="post" action="@Url.Action("Login")" class="form" id="kt_login_signin_form">
                            <!--begin::Title-->
                            <div class="pb-13 pt-lg-0 pt-5">
                                <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">歡迎來到 @masterInfo.FullName</h3>

                            </div>
                            <!--begin::Title-->
                            <!--begin::Form group-->
                            <div class="form-group">
                                <label class="font-size-h6 font-weight-bolder text-dark">Account</label>
                                <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg" type="text" name="account" autocomplete="off" />
                            </div>
                            <!--end::Form group-->
                            <!--begin::Form group-->
                            <div class="form-group">
                                <div class="d-flex justify-content-between mt-n5">
                                    <label class="font-size-h6 font-weight-bolder text-dark pt-5">Password</label>
                                </div>
                                <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg" type="password" name="password" autocomplete="off" />
                            </div>
                            <!--end::Form group-->
                            <!--begin::Action-->
                            <div class="pb-lg-0 pb-5">
                                <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">登入</button>
                                @*<button type="submit" id="kt_login_signin_submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">登入</button>*@
                            </div>
                            <!--end::Action-->
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Signin-->
                </div>
                <!--end::Content body-->
                <!--begin::Content footer-->
                <div class="d-flex justify-content-lg-start justify-content-center align-items-end py-7 py-lg-0">
                    <div class="text-dark-50 font-size-lg font-weight-bolder mr-10">
                        <span class="mr-1">@DateTime.Today.Year©</span>
                        <a href="@rootUrl" target="_blank" class="text-dark-75 text-hover-primary">@masterInfo.Name</a>
                    </div>
                </div>
                <!--end::Content footer-->
            </div>
            <!--end::Content-->
        </div>
        <!--end::Login-->
    </div>
    <!--end::Main-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="~/Content/assets/plugins/global/plugins.bundle.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>
    <script src="~/Content/assets/plugins/custom/prismjs/prismjs.bundle.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>
    <script src="~/Content/assets/js/scripts.bundle.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>
    <!--end::Global Theme Bundle-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="~/Content/assets/js/pages/custom/login/login-general.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>
    <!--end::Page Scripts-->
    @* 提示訊息 *@
    @if (TempData["TipMsg"] != null)
    {
        <script>
            (function() {
                alert('@TempData["TipMsg"]');
            }) ();
        </script>
    }
</body>
<!--end::Body-->
</html>