@using Platform.WebSite.Helpers;
@using Platform.Infra;

@model Guid 

@{
    ViewBag.Title = "SampleAjaxList";

    string likeName = "ame_1";
    string startDate = DateTime.Now.AddDays(-25).ToString("yyyy-MM-dd");
}

@*

    <!--begin::Notice-->
    <div class="alert alert-custom alert-white alert-shadow gutter-b" role="alert">
        <div class="alert-icon">
            <span class="svg-icon svg-icon-primary svg-icon-xl">
                <i class="flaticon2-information text-warning"></i>
            </span>
        </div>
        <div class="alert-text">
            本範例使用 jQuery DataTable ，完成一份套用 AJAX 的管理模組。<br />
            需要的人可將本範例作為基底，拷貝並完成其它模組。<br />
        </div>
    </div>
    <!--end::Notice-->
*@

<!--begin::Card-->
<div class="card card-custom">
    <div class="card-header flex-wrap py-5">
        <div class="card-title">
            <div class="card-label">
                @*標題*@
                @ViewBag.Title
                <span class="d-block text-muted pt-2 font-size-sm">模組額外說明</span>
                @*標題*@
            </div>
        </div>
        <div class="card-toolbar">
            @*工具列*@
            <button class="btn btn-primary font-weight-bolder" id="btnCreate">
                <i class="flaticon2-plus"></i> 新增
            </button>
            @*工具列*@
        </div>
    </div>
    <div class="card-body">
        @*過濾條件*@
        <div id="divSearchArea">
            <div class="form-group row">
                <label for="inpID" class="col-1 col-form-label">ID</label>
                <input id="inpID" name="ID" type="number" class="form-control col-5" placeholder="請輸入 ID (格式為數字)" />
                <label for="inpName" class="col-1 col-form-label"> Name</label>
                <input id="inpName" name="Name" type="text" class="form-control col-5" placeholder="請輸入名稱 (包含文字)" value="me_1" />
            </div>
            <div class="form-group row">
                <label for="inpTitle" class="col-1 col-form-label"> Title </label>
                <input id="inpTitle" name="Title" type="text" class="form-control col-11" placeholder="請輸入標題 (包含文字)" value="2" /><br />
            </div>
            <div class="form-group row">
                <label for="inpStartDate" class="col-1 col-form-label"> StartDate </label>
                <input id="inpStartDate" name="StartDate" type="date" class="form-control col-5" placeholder="請輸入開始時間 (可留空、格式為日期)" value="@startDate" />
                <label for="inpEndDate" class="col-1 col-form-label"> EndDate </label>
                <input id="inpEndDate" name="EndDate" type="date" class="form-control col-5" placeholder="請輸入結束時間 (可留空、格式為日期)" />&nbsp;
            </div>
            <div class="form-group row justify-content-center">
                <button type="button" id="btnClearFilter" class="btn btn-light btn-text-danger col-6"> 清除 </button>
                <button type="button" id="btnSearchGrid" class="btn btn-success col-6"> 搜尋 </button>
            </div>
        </div>
        @*過濾條件*@

        @*表格*@
        <table class="table table-bordered table-hover table-checkable" id="dataGrid" style="margin-top: 13px !important">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名稱</th>
                    <th>標題</th>
                    <th>建立時間</th>
                    <th>圖片</th>
                    <th>設定</th>
                </tr>
            </thead>
        </table>
        @*表格*@
    </div>
</div>
<!--end::Card-->
@*編輯區*@
<div class="modal fade bd-example-modal-xl" id="editorArea" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    @*編輯區標題*@
                    <span class="display-4">@ViewBag.Title</span>
                    @*編輯區標題*@
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- 內容 -->
                <form class="form">
                    <div class="tab-content">
                        <!--begin::Tab-->
                        <div class="tab-pane show px-7 active" id="kt_user_edit_tab_1" role="tabpanel">
                            <!--begin::Row-->
                            <div class="row">
                                <div class="col-xl-2"></div>
                                <div class="col-xl-7 my-2">
                                    <!--begin::Group-->
                                    <div class="form-group row">
                                        <label class="col-form-label col-3 text-lg-right text-left">名稱</label>
                                        <div class="col-9">
                                            @* Column: Id  *@
                                            <input type="hidden" name="Id" value="" />

                                            @* Column: Name  *@
                                            <input class="form-control form-control-lg form-control-solid" type="text" name="Name" value="" placeholder="請輸入名稱" />

                                            @* 提示文字範例 *@
                                            <div class="d-block text-muted pt-2 font-size-sm">
                                                <i class="icon-nm text-dark-50 flaticon2-information"></i>
                                                注意：這裡是提示文字，各式文字範例可以參考這邊 <a href="https://preview.keenthemes.com/metronic/demo1/features/bootstrap/typography.html" target="_blank" title="官方文字範例 (另開新視窗)">Typography</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Group-->
                                    <!--begin::Group-->
                                    <div class="form-group row">
                                        <label class="col-form-label col-3 text-lg-right text-left">標題</label>
                                        <div class="col-9">
                                            @* Column: Title  *@
                                            <input class="form-control form-control-lg form-control-solid" type="text" name="Title" value="" placeholder="請輸入標題" />
                                        </div>
                                    </div>
                                    <!--end::Group-->
                                    <!--begin::Group-->
                                    <div class="form-group row">
                                        <label class="col-form-label col-3 text-lg-right text-left">圖片</label>
                                        <div class="col-9">
                                            @* Column: ImageUrl  *@
                                            <input class="form-control form-control-lg form-control-solid" type="text" name="ImageUrl" value="/Content/assets/media/users/blank.png" placeholder="請輸入圖片" />
                                        </div>
                                    </div>
                                    <!--end::Group-->
                                    <!--begin::Group-->
                                    <div class="form-group row">
                                        <label class="col-form-label col-3 text-lg-right text-left">是否啟用</label>
                                        <div class="col-9">
                                            @* Column: IsEnable  *@
                                            <span class="switch">
                                                <label>
                                                    <input type="checkbox" checked="checked" name="IsEnable" />
                                                    <span></span>
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                    <!--end::Group-->
                                </div>
                            </div>
                            <!--end::Row-->
                        </div>
                        <!--end::Tab-->
                    </div>
                </form>
                <!-- 內容 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary" id="btnSave">儲存</button>
            </div>
        </div>
    </div>
</div>
@*編輯區*@

@* 要餵 SiteID 給 js 用，為必要的隱藏欄位 *@
<input type="hidden" id="hfSiteID" value="@this.Model" />

@* --將 js 註冊至頁尾-- *@
@Html.Resource(
@<text>
    <script src="~/Content/assets/plugins/custom/datatables/datatables.bundle.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>
    <script src="~/ModuleResources/JavaScripts/Shared/FormHelper.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>
    <script src="~/ModuleResources/JavaScripts/SampleDataAjax/index.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>
</text>
, "customScripts")
